@import "variables";
@import "reset";

#main{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  .container{
    .loginbox{
      max-width: 328px;
      width: 100%;
      margin: 0 auto;

      .ID{
        span{
          display: inline-block;
          max-width: 60px;
          width: 20%;
          margin: 0 auto;
          color: $logintext;
          border-bottom: 1px solid rgba(0,0,0,.1);
          padding-bottom: 6.15px;
        }

        input {
          display: inline-block;
          margin: 0 auto;
          max-width: 260px;
          width: calc(80% - 10px);
          height: 29.5px;
          margin-bottom: 20.5px;
          color: $logintext;
          border-color: transparent;
          border: 0;
          border-bottom: 1px solid rgba(0,0,0,.1);

          &:focus{
            outline: none;
          }
        }
      }
      .PW{
        span{
          display: inline-block;
          margin: 0 auto;
          max-width: 60px;
          width: 20%;
          color: $logintext;
          border-bottom: 1px solid rgba(0,0,0,.1);
          padding-bottom: 6.15px;
        }

        input {
          display: inline-block;
          margin: 0 auto;
          max-width: 260px;
          width: calc(80% - 10px);
          height: 29.5px;
          margin-bottom: 20.5px;
          color: $logintext;
          border-color: transparent;
          border: 0;
          border-bottom: 1px solid rgba(0,0,0,.1);

          &:focus{
            outline: none;
          }
        }
      }
      .buttons{
        padding-left: 100px;
        position: relative;
        .loginbutton{
          display: block;
          margin: 0 auto;
          float: left;
          width: 94px;
          height: 36px;
          text-align: center;
          color: $navmadarine;
          padding-top: 8px;
          background: $buttonbackgroundcolor;
          font-size: 14px;
        }
        .small_button{
          position: absolute;
          font-size: 11px;
          right: 0;
          transform: translateY(-13px);
        }
      }
    }
  }
}