@import "variables";
@import "reset";


.main{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 25px;

  .Game{
    box-sizing: border-box;
    padding-top: 25px;
    width: 100%;

    &:nth-child(2n+0){
      background: $maingreybackground;
      margin-top: 25px;
    }

    .container{
      width: 820px;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;

      .Game_logo.LOL{
        transform: translateX(-9%);
        margin-bottom: 26px;
        img{
          float: left;
          display: block;
          width: 47px;
          height: 35px;
        }
        h3{
          font-size: 10px;
          font-weight: bold;
          height: 35px;
          line-height: 35px;
          margin-left: 60px;
        }
      }

      article{
        float: left;
        margin-right: 24.6px;

        .thumbnail{
          img{
            display: block;
            width: 203.46px;
            height: 131.68px;
            border-radius: 8px;
          }
        }
        h3{
          font-size: 10px;
          font-weight: bold;
          margin-top: 6.3px;
        }
        &:nth-child(3n+0){
          margin-right: 18px;
        }
      }
      .Paging{
        float: left;
        display: block;
        width: 75.48px;
        height: 179.62px;
        margin-right: 0;

        img{
          display: block;
          width: 75.48px;
          height: 135px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
        }
      }
    }
  }
}

@media (max-width: 1024px){
  .main{
    .Game{
      .container{
        width: 100%;
        margin: 0 auto;
        .Game_logo.LOL {
          transform: none;
          padding-left: 3%;
        }

        .row{
          margin-left: 45.62px;

          article{
            margin-right: 45px;
            width: 25%;

            .thumbnail{
              width: 100%;
              img{
                width: 100%;
                height: 13vw;
              }

            }
            &:nth-child(3n+0){
              margin-right: 12.19px;
            }
          }
          .Paging{
            width: 3.4vw;
            img{
              width: 100%;
              height: 13.3vw;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 690px){
  .main{
    .Game{
      .container{
        .Game_logo.LOL {
          padding-left: 3%;
        }

        .row{
          margin-left: 15.62px;

          article{
            margin-right: 5px;
            width: 41.3%;

            .thumbnail{
              width: 100%;
              img{
                width: 100%;
                height: 25vw;
              }

            }
            &:nth-child(3n+0){
              display: none;
            }
          }
          .Paging{
            width: 8.3%;
            img{
              width: 100%;
              height: 25vw;
            }
          }
        }
      }
    }
  }
}