$navmadarine:#FF981F;
$sub_detail: #6A6A6A;
$navblack: #2D2D2D;
$navoutline: #000000;
$footercolor: #DFDFDF;
$greybackground: rgba(0,0,0,.18);
$maingreybackground: #F7F7F7;
$maingryniche: rgba(0,0,0,.1);
$logintext: rgba(0,0,0, .38);
$buttonbackgroundcolor: rgba(153,153,153,.2);
$selectborder: rgba(228, 228, 228, 1);
$selectfontcolor: rgba(177,177,177,1);